.connectedContainer {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(231, 203, 203);
  box-shadow: 3px 4px 7px rgb(83, 68, 68);
  display: flex;
  flex-direction: column;
}
.connectedP {
  font-weight: lighter;
  font-size: 23px;
  text-align: center;
  padding: 15px;
}
.connectedB {
  font-style: italic;
  font-weight: bold;
}
.connectedInput {
    margin: 20px;
    padding: 20px;
    font-size: 24px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.connectedButton {
   height: 50px;
}