.disconnectedContainer {
  background-color: rgb(231, 203, 203);
  box-shadow: 3px 4px 7px rgb(83, 68, 68);
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  
}
.disconnectedH1 {
   padding: 20px;
   font-size: 20px;
}
.disconnectedH2 {
  padding: 30px;
  font-weight: lighter;
}
.disconnectedSpan {
    background-color: aqua;
    padding: 10px;
    border-radius: 9px;
    cursor: pointer;
    font-weight: bolder;

}
.disconnectedSpan:hover {
    opacity: 0.8;
}
