.footerContainer {
  background-color: rgb(231, 203, 203);
  box-shadow: 3px 4px 7px rgb(83, 68, 68);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;    
  padding: 16px;
  text-align: center;
  margin-top: 15px;

}
h1 {
  padding: 0;
  margin: 0;
}
.footerContent {
  font-size: 10px;
  padding: 5px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 9px;
  }

  .footerBottom {
    font-size: 7px;
  }

  .footerContainer {
    padding: 10px;
  }
}


@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 11px;
  }

  .footerBottom {
    font-size: 8px;
  }

  .footerContainer {
    padding: 12px 14px;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 12px;
  }

  .footerBottom {
    font-size: 10px;
  }

  .footerContainer {
    padding: 14px 20px;
  }
}


@media (min-width: 1025px) and (max-width: 1440px) {
  h1 {
    font-size: 14px;
  }

  .footerBottom {
    font-size: 11px;
  }

  .footerContainer {
    padding: 16px 24px;
  }
}


@media (min-width: 1441px) {
  h1 {
    font-size: 16px;
  }

  .footerBottom {
    font-size: 12px;
  }

  .footerContainer {
    padding: 18px 32px;
    max-width: 1400px;
    margin: 0 auto 15px;
    left: 50%;
    transform: translateX(-50%);
  }
}
