.headerContainer {
  background-color: rgb(231, 203, 203);
  box-shadow: 3px 4px 7px rgb(83, 68, 68);
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
h2 {
  padding: 0;
  margin: 0;
}

.imageContainer {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 50%;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .headerContainer {
    height: 50px;
    padding: 0 8px;
  }

  h2 {
    font-size: 14px;
  }

  .imageContainer {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .headerContainer {
    height: 60px;
    padding: 0 12px;
  }

  h2 {
    font-size: 15px;
  }

  .imageContainer {
    width: 45px;
    height: 45px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .headerContainer {
    height: 70px;
    padding: 0 16px;
  }

  h2 {
    font-size: 18px;
  }

  .imageContainer {
    width: 55px;
    height: 55px;
  }
}


@media (min-width: 1025px) and (max-width: 1440px) {
  .headerContainer {
    height: 80px;
    padding: 0 24px;
  }

  h2 {
    font-size: 20px;
  }

  .imageContainer {
    width: 60px;
    height: 60px;
  }
}


@media (min-width: 1441px) {
  .headerContainer {
    height: 90px;
    padding: 0 32px;
  }

  h2 {
    font-size: 22px;
  }

  .imageContainer {
    width: 70px;
    height: 70px;
  }
}

