.homeContainer {
  background-color: rgb(231, 203, 203);
  box-shadow: 3px 4px 7px rgb(83, 68, 68);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
  padding-bottom: 100px;
  width: 70%;
  margin: auto;
}
.each {
  background-color: rgb(209, 201, 201);
  margin: 6px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
h3 {
  color: rgb(94, 75, 110);
  text-align: center;
  padding: 0;
  margin: 0;
}
b {
  color: blue;
}
button {
  padding: 3px 25px;
  font-size: 20px;
  border: none;
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 7px;
  font-weight: bold;
  background-color: rgb(88, 55, 81);
  color: rgb(212, 217, 218);
}
button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.code {
  background-color: brown;
}

@media (max-width: 480px) {
  .homeContainer {
    width: 95%;
    padding: 8px;
  }

  .each {
    padding: 6px;
  }

  h3 {
    font-size: 12px;
  }

  button {
    font-size: 16px;
    padding: 5px 15px;
    width: 80%;
  }
}


@media (min-width: 481px) and (max-width: 768px) {
  .homeContainer {
    width: 85%;
  }

  h3 {
    font-size: 13px;
  }

  button {
    font-size: 17px;
    width: 75%;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .homeContainer {
    width: 75%;
  }

  h3 {
    font-size: 14px;
  }

  button {
    font-size: 18px;
    width: 70%;
  }
}


@media (min-width: 1025px) and (max-width: 1440px) {
  .homeContainer {
    width: 70%;
  }

  h3 {
    font-size: 16px;
  }

  button {
    font-size: 20px;
    width: 70%;
  }
}


@media (min-width: 1441px) {
  .homeContainer {
    width: 60%;
  }

  h3 {
    font-size: 18px;
  }

  button {
    font-size: 20px;
    width: 65%;
  }
}